<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/javascript/main.js"></script>
  </head>

  <body class="bg-gray-100 text-gray-900">

    <!-- Header -->
    <header><%- include('partials/header') %></header>

    <!-- Main Content -->
    <main class="container mx-auto p-6 mt-28">
      <% if (results.length > 0) { %>
        <h1 class="text-xl font-semibold mb-4">
          Hittade <%= results.length %> produkter
        </h1>

        <!-- Product Grid -->
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
          <% results.forEach(product => { %>
            <div class="bg-white shadow rounded-lg overflow-hidden">
              <div class="w-full h-48 relative">
                <img
                  src="<%= product.image %>"
                  alt="<%= product.productName %>"
                  class="absolute inset-0 w-full h-full object-contain"
                />
              </div>
              <div class="p-4">
                <!-- Product Name -->
                <h2 class="text-lg font-medium break-words">
                  <%= product.productName %>
                </h2>
                <!-- Product Brand -->
                <p class="text-sm text-gray-500 break-words">
                  <%= product.brand %>
                </p>
                <!-- Product Price -->
                <p class="text-sm font-semibold">
                  <%= product.price %>
                </p>
              </div>
            </div>
          <% }); %>
        </div>
      <% } else { %>
        <!-- No Products Message -->
        <p class="text-center text-gray-500 pt-16">
          Inga produkter matchade din sökning.
        </p>
      <% } %>
    </main>

    <!-- Footer -->
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
